.team {
    background-color: var(--light-background-color);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-element {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: var(--primary-background-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
}

.team-text-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.team-link-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}